@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Main{
    width: 100%;
    height: 100vh;
}
.header{
    width: 100%;
    padding: 0px 30px;
    margin-top: 33px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
 margin-left: 200px;

}
.nav>li{
    float: left;
    margin-right: 10px;
  }
  .nav ul li a:hover{
    color: #91ad41;
  }
  .nav .item:hover{
    color: #91ad41;
  }
  .nav .item--home{
    color: #91ad41;
  }
  .nav ul li a{
    display: block;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    text-transform: none;
    color: #000;
  }
  .nav>li>a{
    color: black;
  }
  
  .nav li{
    position: relative;
    list-style:none;
  }
  
  .nav li a{
    padding: 10px;
    line-height: 20px;
    display: inline-block;
    text-decoration: none;
  }
  
.nav .sub-menu{
    display: none;
    position: absolute;
    top: 0px;
    left: 178px;
    width: 215px;
    background-color:#FFFFFF;
    padding: 0px 20px;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
    border-bottom: none;
    }
.nav li:hover>.sub-menu{
    display: block;
  }
  
.nav>li>.sub-menu{
    top: 40px;
    left: 0;
  }
.icons{
    display: flex;
    margin-right: 56px;
    cursor: pointer;
}
.icons #icon-btn{
    margin-left: 22px;
}
.background-heading{
    background-image:url("//theme.hstatic.net/200000332199/1000706721/14/bg_breadcrumb.png?v=222");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 60px 0;
    float: left;
    background-color: antiquewhite;
    text-align: center;
    height: 200px;
}
.col_center ul.home-center li a{
  text-decoration: none;
  color:black
}
.col_center ul.home-center li .a-tittle {
    color: #91ad41;
}
.col_center ul.home-center li a:hover{
    color: #91ad41;
}
.a-tittle{
    margin-bottom: 20px;
}
.section_new_blog{
    width: 100%;
    height: 400px;
  }
  .content_blog-new img{
    width: 100%;
  }
  a.text-blog{
    margin-left: 428px;
  }
  .text-gradient{
    text-decoration: none;
    color: black;
  }
  
  .heading_new-blog{
    margin-top: 250px;

  }
  .content_blog-new{
   width: 25%;
   float: left;
   margin-left: 100px;
   margin-top: 30px;
  }
  .new_blog_container h1 a:hover{
    color: #91ad41;
    background: unset;
    -webkit-text-fill-color: unset;
    text-decoration: none;
  }
  .heading_new-blog{
    margin-left: 285px;
  }
  .date{
    color: #707070;
    background: #fff;
    opacity: 0.95;
    padding: 10px 20px 8px 20px;
    font-size: 12px;
    width: 100%;
    color: #707070;
  }
  .color_main{
    color: #91ad41;
  }
  .conten_right{
    background-color:#f5f6fb;
    padding: 20px;
  }
  .conten_right a{
    color: black;
    text-decoration: none
  }
  .conten_right a:hover{
    color: #91ad41;
  }
  .conten_right p{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #707070;
    text-decoration: none
  }
  .footer{
    width: 100%;
    height: 600px;
  }
  .claim_sale{
    width: 100%;
  
  }
  .email_heading{
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgba(232, 218, 199, 0.6);
    border-top: 1px solid #e8dac7;
    position: relative;
    float: left;
    width: 100%;
  }
  .left_heading{
    display: inline-block;
    margin: 0;
    color: #000;
    font-weight: bold;
    margin-left: 100px;
  }
  .right_heading{
    width: 50%;
    display: inline-block;
    margin-left: 350px;
  }
  .button_gradient{
    font-weight: 400;
    height: 42px;
    border-radius: 30px;
    background: -webkit-linear-gradient(35deg, #91ad41 0%, #ff8a6c 100%);
    color: #fff;
    min-width: 110px;
    border: none;
    margin-left: -20px !important;
    cursor: pointer;
  }
  .form-control{
    width: 400px;
    box-shadow: none;
    height: 42px;
    color: #333;
    padding: 0 30px 0 20px;
  }
  
  .hotline-container{
    width: 100%;
    display: flex;
    clear: both;
  }
  .website-footer{
    width: 160px;
    margin-left: 160px;
    margin-top: 80px;
    margin-right: 35px;
  }
  .logo-footer{
    margin-top: 60px;
    margin-left: 200px;
  }
  .hotline-container ul.contact-left li a{
    color: #000;
    text-decoration: none;
  }
  .hotline-container ul.contact-left li{
    list-style: none;
  }
  .hotline-container ul.contact-left li a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 32px;
  }
  .hotline-container ul.contact-left li a:hover{
    color: #91ad41;
  }
  .hotline-container h4{
    margin-bottom: 10px;
  }
  .fas,.fas,.far{
    width: 30px;
    height: 20px;
    text-align: center;
    border-radius: 60%;
    line-height: 30px;
    color: #91ad41;
    font-size: 14px;
    margin-right: 10px;
    background: #fff;
    border: 1px solid #91ad41;
  }
  .copyringt{
    padding-top:50px;
    width: 100%;
    height: 100px;
    background-color: #e8dac7;
    text-align: center;
    font-size: 15px;
  }
  .color_main{
    color: #91ad41;
  }